<div class="navbar navbar-expand-sm bg-dark py-3">
  <div class="w-100 mx-2 d-flex justify-content-between">
    <div class="d-flex w-50">
      <a href="./settings.html">
        <i
          style="font-size: 22px; color: white"
          class="fa fa-arrow-left my-auto"
        ></i
      ></a>
      <h5 class="text-white font-weight-normal mx-2 my-auto">Credit Card</h5>
    </div>
  </div>
</div>

<div class="w-100">
  <img src="./creditcard.jpg" alt="credit" width="100%" />
</div>

<div class="col-12 px-2 py-3 d-flex flex-column">
  <input
    class="p-3 w-100 creditcard-input"
    type="number"
    placeholder="Credit Card Number"
  />
  <input
    class="p-3 mt-3 w-100 creditcard-input"
    type="number"
    placeholder="Credit Card Number"
  />
  <input
    class="p-3 mt-3 w-100 creditcard-input"
    type="number"
    placeholder="Credit Card Number"
  />
  <input
    class="p-3 mt-3 w-100 creditcard-input"
    type="number"
    placeholder="Credit Card Number"
  />
  <a
    href="#"
    class="d-flex rounded-pill px-2 mt-5 mx-auto"
    style="background-color: #333e48; width: 130px; height: 50px"
  >
    <img class="my-auto" src="./pay.png" width="36" height="36" alt="" />
    <div class="text-white my-auto">Continue</div>
  </a>
</div>
