<h3 class="py-3 d-flex justify-content-center">Todo</h3>
<div class="todos w-100">
  <div class="row">
    <form class="col-md-6 col-12 px-2">
      <input
        type="text"
        name="inputTodo"
        placeholder="Enter todo name..."
        class="todo-input"
        [(ngModel)]="inputTodo"
      />
      <input
        type="text"
        name="inputTodoDesc"
        placeholder="Enter todo description..."
        class="todo-input"
        [(ngModel)]="inputTodoDesc"
      />
      <input
        type="date"
        name="inputTodoDate"
        class="todo-input"
        [(ngModel)]="inputTodoDate"
      />
      <button
        class="btn btn-primary mt-2 px-5"
        [disabled]="!inputTodo || !inputTodoDesc || !inputTodoDate"
        (click)="addTodo()"
      >
        Add Todo
      </button>
    </form>
    <div class="col-md-6 col-12">
      <button class="btn btn-primary my-3" routerLink="/alltodos">
        See all Todos
      </button>
    </div>
  </div>
</div>
<!-- input and output decorative -->
<!-- angular templete driven -->
