<div class="todos">
  <h3 class="py-3 d-flex justify-content-center">Todo</h3>
  <form>
    <h6>
      <b>{{ errorMessage }}</b>
    </h6>
    <input
      type="text"
      name="inputTodo"
      placeholder="Enter todo name..."
      class="todo-input"
      [(ngModel)]="inputTodo"
    />
    <input
      type="text"
      name="inputTodoDesc"
      placeholder="Enter todo description..."
      class="todo-input"
      [(ngModel)]="inputTodoDesc"
    />
    <input
      type="date"
      name="inputTodoDate"
      class="todo-input"
      [(ngModel)]="inputTodoDate"
    />
    <button
      class="btn btn-primary mt-2 px-5"
      [disabled]="!inputTodo || !inputTodoDesc || !inputTodoDate"
      (click)="addTodo()"
    >
      Add Todo
    </button>
  </form>

  <button class="btn btn-primary my-3" routerLink="/alltodos">
    See all Todos
  </button>
  <div class="todo">
    <div>Id</div>
    <div class="d-flex w-100 justify-content-between mx-2">
      <div>Todo</div>
      <div>Desc</div>
      <div>Time</div>
      <div></div>
      <div></div>
    </div>
  </div>
  <div
    *ngFor="let todo of todos; let i = index"
    class="todo {{ todo.isCompleted ? 'done' : '' }}"
  >
    <div class="id">{{ i + 1 }}</div>
    <div class="content" (click)="toggleDone(i)">{{ todo.content }}</div>
    <div class="content" (click)="toggleDone(i)">{{ todo.desc }}</div>
    <div class="content" (click)="toggleDone(i)">{{ todo.date }}</div>
    <button
      class="delete bg-danger rounded-pill text-white px-1"
      (click)="deleteTodo(i)"
    >
      Remove
    </button>
  </div>
</div>

<!-- input and output decorative -->
<!-- angular templete driven -->
